.navbar__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid rgb(66, 64, 64);
	height: 48px;
	padding: 16px;
}

.navlist__container {
	list-style: none;
	display: flex;
}

.navlist__items {
	margin: 24px 32px;
	padding: 16px;
}

.mode-switch {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mode-switch label {
    display: inline-block;
    width: 40px;
    height: 20px;
    position: relative;
    margin-left: 10px;
  }
  
  .mode-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 20px;
  }
  
  .mode-switch input:checked + .slider {
    background-color: #535bf2;
  }
  
  .mode-switch .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  .mode-switch input:checked + .slider:before {
    transform: translateX(20px);
  }